body {
	padding: 10px;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#trackMessages {
	max-height: 460px;
	overflow: auto;
	font-size: 14px;
}
#filterInput {
	position: absolute;
	right: 110px;
	top: 20px;
	height: 35px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-color: #1D1D1B;
}
#configureButton {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #1D1D1B;
    border-radius: 4px;
	color: #FFFFFF;
}
.configurationDiv {
	width: 100%;
}
#apiDomain {
	width: 100%;
	margin-top: 10px;
}
.eventTracked {
	padding: 10px;
	margin-bottom: 1px;
}
.eventTracked.hidden {
	display: none;
}
.eventInfo {
	font-size: 16px;
	cursor: pointer;
}
.eventName {
	color: #FFFFFF;
}
.eventContent {
	display: none;
	font-size: 14px;
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
	overflow-y: auto;
	height: 400px;
	border: 1px solid #DDDDDD;
	white-space: pre;
    color: #1D1D1B;
}
.string { color: green; }
.number { color: blue; }
.boolean { color: purple; }
.null { color: magenta; }
.key { color: black; font-weight: bold; }
.logo {
	float: left;
	margin-right: 10px;
}
h1 {
    font-size: 26px;
    font-weight: normal;
    margin-top: 0px;
}
.buttonDiv {
	padding-top: 10px;
	text-align: right;
}
input[type=button] {
	border-width: 0px;
	background-color: #52BD95;
	border-radius: 4px;
	color: #FFFFFF;
	padding: 10px;
}

.eventType_identify {
	background-color: #52BD95;
	color: #FFFFFF;
}
.eventType_pageLoad {
	background-color: #6156BB;
    color: #FFFFFF
}
.eventType_track {
	background-color: #1D1D1B;
    color: #FFFFFF;
}
.eventType_batch {
	background-color: #b890b5;
}